# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
local.properties

# Android
*.apk
*.aar
*.ap_
*.dex
/captures
*.keystore
!debug.keystore

# Generated
/app/build/
/app/release/

# Misc
*.log
.DS_Store
Thumbs.db

.kotlin/
